{% extends "base/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <h2 class="text-center">Edit Profile</h2>
                <form method="post" action="{% url 'view_profile' %}">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
  
{% endblock %}