{% extends "base/base.html" %}
{% block content %}
<div class="card m-auto" style="max-width: 300px; margin-top: 100px;">
    <div class="card-body">
        <h4 class="card-title mb-4 text-center">Sign In</h4>
        {% include 'include/alerts.html' %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="enter email">
            </div>
            <div class="form-group mb-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="enter password">
            </div>
            <div class="form-group">
                <button  type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
    </div>
  <p class="text-center mt-4">Don't have an account ? <a href="{% url 'register' %}">Sign up</a> </p>

</div>

{% endblock %}
