{% extends 'base/base.html' %}
{% block content %}

    {% for movie in movies %}    
        <div class="col-md-4 mb-5">
            <div class="card" style="border-radius: 15px;">
                    <a href="{% url 'movie_detail' movie.id %}"><img style="border-radius: 15px;" width="100%" height="400px" src="{{ movie.poster.url }}" alt="{{movie.title}}"></a>
            </div>
        </div>
    {% endfor %}

    <nav class="page" aria-label="Page navigation sample">
        {% if movies.has_other_pages %}
            <ul class="pagination" style="display: flex; align-items: center;justify-content: center;">
                {% if movies.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{movies.previous_page_number}}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for i in movies.paginator.page_range %}
                    {% if movies.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>	
                    {% endif %}
                {% endfor %}
                {% if movies.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{movies.next_page_number}}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>


{% endblock %}